@mixin warning{
    background-color: orange;
    color: #fff;
  }

  @mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
  }
  
  @mixin large-text {
    font: {
      fize: 22px;
      weight: bold;
    }
  }
  
  @mixin rounded($radius: 6px) {
    border-radius: $radius;
  }
  
  @mixin box( $border: 1px solid #fff, $radius: 12px) {
    @include rounded(8px);
    border: $border;
  }
  
  @mixin fancy-links{
    a{
      font-style: italic;
      text-decoration: none;
    }
  }